# Python-Dateien ignorieren
*.pyc
__pycache__/

# Jupyter Notebook-Dateien ignorieren
.ipynb_checkpoints

# Virtual Environment
venv/

# Datendateien ignorieren
data/

output/*
!output/report.pdf
# Shapefiles ignorieren
*.shp
*.shx
*.dbf
*.prj

# Log-Dateien
*.log

# Ignoriere alle .DS_Store-Dateien
.DS_Store

