# Python-Dateien ignorieren
*.pyc
__pycache__/

# Jupyter Notebook-Dateien ignorieren
.ipynb_checkpoints

# Virtual Environment
venv/

# Datendateien ignorieren
data/

# Ausgaben und Berichte
outputs/
*.pdf

# Shapefiles ignorieren
*.shp
*.shx
*.dbf
*.prj

# Log-Dateien
*.log

